body, html{
	padding:0px;
	margin:0px;
	overflow-x: hidden;
}
body *{
	font-family:"AvenirR" , sans-serif; 	
	box-sizing:border-box;
}

@font-face {
  font-family: AvenirHeavy;
  src: local("../fonts/Avenir-Heavy.ttf"),
       local("../fonts/Avenir-Heavy.woff"),
       url("../fonts/Avenir-Heavy.woff2");
  font-weight: bold;
}

@font-face {
  font-family: AvenirLight;
  src: local("../fonts/AvenirLT-Light.eot"),
       local("../fonts/AvenirLT-Light.ttf"),
       url("../fonts/AvenirLT-Light.woff");
}
@font-face {
  font-family: AvenirMedium;
  src: local("../fonts/Avenir-Medium.ttf"),
       local("../fonts/Avenir-Medium.woff"),
       url("../fonts/Avenir-Medium.woff2");
}

@font-face {
  font-family: AvenirR;
  src: local("../fonts/Avenir-Book.ttf"),
       local("../fonts/Avenir-Book.woff"),
       url("../fonts/Avenir-Book.woff2");
}
header div.container{
	max-width:1140px;
	margin-left:auto;
	margin-right:auto;
}

div.container{
	padding-left:15px;
	padding-right:15px;
	max-width:870px;
	margin-left:auto;
	margin-right:auto;
}
.outer__header{
	display: flex;
	align-items:center;
	justify-content: space-between;
	padding:10px 0px;
}
.logo__wrapper>a{
	display: flex;
	align-items:center;
	justify-content: center;
	transition:.4s ease all
}
.logo__wrapper>a:hover{
	opacity:.7;
}
.center__list ul{
	padding: 0px;
	list-style-type: none;
	margin:0px;
	display: flex;
	align-items:center;
	justify-content: center;
}
.right__info>a{
	min-width: 100px;
	min-height:40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border:1px solid #ea0023;
	color:#ea0023;
	font-size:16px;
	text-decoration:none;	
	transition:.4s ease all;
	font-family:"AvenirR" , sans-serif;
}
.right__info>a:hover{
	background-color:#ea0023;
	color:#fff;
}
.right__info>a:hover{
	opacity:.7;
}
.center__list ul>li{
	padding:20px 0px;
}
.center__list ul li{
	margin-right:20px;
}
.center__list ul li a:before{
	content:"";
	position: absolute;
	left:0px;
	bottom:-3px;
	height:2px;
	width:0px;
	transition:.5s ease all;
	background-color: #D62E30;
}
.center__list ul li a:hover:before{
	width:100%;
}
.center__list ul li.active__list>a:before{
	content:"";
	position: absolute;
	left:0px;
	bottom:-3px;
	height:2px;
	width:100%;
	background-color: #D62E30;
}
.center__list ul li:last-child{
	margin-right:0px;
}
.center__list ul li a{
	color:#000;
	font-size:15px;
	position: relative;
	transition:.4s ease all;
	text-decoration: none;
	text-transform: uppercase;
}
header>.container{
	max-width:1260px;
	padding-left:15px;
	padding-right:15px;
}
.container{
	max-width:870px;
}
.video__main{
	padding-top:40px;
}
.outer__video{
	min-height:420px;
	width:100%;
	display: flex;
	align-items:center;
	justify-content: center;
	max-width:640px;
	margin-left:auto;
	margin-right:auto;
}
.video__block{
	min-height:100%;
	width:100%;
	display: flex;
	align-items:center;
	justify-content: center;
	position: relative;
}
.video__main>img{
	width: 100%;
	margin-top:-90px;
}
.play__video{
	position: absolute;
	left:0px;
	right:0px;
	margin-right:auto;
	margin-left: auto;
	max-width:100px;
	cursor: pointer;
	transition:.4s ease all;
}
.play__video:hover{
	opacity: .7;
}
.play__video>img{
	width: 100%;
}
.overlay__video{
	height:420px;
	background:url('../img/videoback.png');
	background-repeat: no-repeat;
	width:100%;
	background-size:cover;
	background-position:center;
}
.outer__advantage{
	display: flex;
	align-items:center;
	justify-content: space-between;
}
.right__advantage{
	margin-left:30px;
}
.right__advantage>img{
	max-width:420px;
}
.left__advantage>p{
	font-size:16px;
	font-weight:400;
	margin-top:0px;
	margin-bottom:15px;
	color:#4d4d4d;
}
.left__advantage>p:last-child{
	margin-bottom:0px;
}
.head__advantage{
	margin-bottom:35px;
}
.head__advantage>h2{
	text-align:center;
	margin:0px;
	font-size:32px;
	line-height:40px;
	font-weight:400;
}
.learner__advantage{
	padding:70px 0px;
	background: #FAF9F9;
}
.resources__block{
	padding:30px 0px;
}
.head__resources>h2{
	text-align:center;
	margin:0px;
	font-size:32px;
	line-height:40px;
	font-weight:400;
	margin-bottom:30px;
}
.resource__image{
	min-height:220px;
	background-repeat: no-repeat!important;
	background-size:cover!important;
	background-position:center!important;
}
.inner__resources{
	display: grid;
	grid-template-columns:repeat(3 , 1fr);
	grid-column-gap:35px;
}
.inner__resources>.elem__resource{
	box-shadow: 0 0 25px rgba(0,0,0,0.3);
}
.resource__txt p{
	margin:0px;
	font-size:16px;
	font-weight:400;
	color:#4d4d4d;
}
.resource__txt{
	padding:15px 10px;
}
.more__resources{
	margin-top:40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.more__resources>a:hover{
	background-color:#ea0023;
	color:#fff;
}
.more__resources>a{
	min-width: 170px;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ea0023;
    color: #ea0023;
    font-size: 18px;
    text-decoration: none;
    transition: .4s ease all;
    font-family: "AvenirR" , sans-serif;
}
.partners__block{
	background: #FAF9F9;
	padding:60px 0px;
}
.head__partners h2{
    text-align: center;
    margin: 0px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}
.inner__partners{
	display: grid;
	grid-template-columns:repeat(4 , 1fr);
	grid-column-gap:50px;
	grid-row-gap:50px;
}
.inner__partners>.elem__partner{
	display: flex;
	align-items:center;
	justify-content: center;
}
.inner__partners>.elem__partner>img{
	width:auto;
	max-width:100%;
}
.programme__block{
	padding:70px 0px;
	background-color:rgba(214,46,48,.8);
}
.outer__programme{
	display: flex;
	align-items:center;
	justify-content: space-between;
}
.outer__programme>h2{
	margin:0px;
	font-size:32px;
	line-height:40px;
	font-weight:400;
	color:#fff;
	max-width:300px;
	text-align: left;
}
.outer__programme>a{
	min-width: 170px;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: .4s ease all;
    font-family: "AvenirR" , sans-serif;
}
.outer__programme>a:hover{
	background-color:#fff;
	color: #ea0023
}
footer{
	background-color:#000;
	padding:50px 0px;
}
footer .main__logo a img{
	max-width:200px;
}
footer .main__logo{
	margin-bottom:40px;
}
.logo__double{
	display: flex;
	align-items:center;
	margin-bottom:20px;
}
.logo__double>.elem__logo:nth-child(1){
	margin-right:40px;
}
.outer__foot{
	display: flex;
	align-items:center;
	justify-content: space-between;
}
.footer__info{
	display: flex;
	flex-direction:column;
	justify-content: flex-start;
}
.footer__info>ul>li{
	margin-right:20px;
	display: flex;
	align-items:center;
}
.footer__info>ul{
	margin-top: 0px;
	margin-bottom:15px;
}
.footer__info>ul>li a{
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	transition:.4s ease all;
}
.footer__info>ul>li a:hover{
	opacity:.7;
}
.footer__info>ul>li:last-child{
	margin-right:0px;
}
.footer__info>ul{
	padding-left:0px;
	display: flex;
	align-items:center;
}
.footer__info>ul.socials__footer{
	display: flex;
	align-items:center;
	padding:0px;
	list-style-type: none;
}
.footer__info>ul.socials__footer{
	margin-bottom:30px;
}
.footer__info>ul.socials__footer li a{
	color:#fff;
	font-size:22px;
}
.footer__info>p{
	margin-top:0px;
	margin-bottom: 0px;
	text-align:left;
	color:#fff;
	font-size:16px;
	line-height:24px;
}
.footer__info{
	margin-left:70px;
}
.outer__about{
	min-height:450px;
	display: flex;
	align-items:center;
	justify-content: center;
}
.outer__about>h2{
	margin:0px;
	text-align:center;
	color:#fff;
	font-size:36px;
	line-height:44px;
}
.about__block{
	background:url("../img/aboutback.png");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:top center;
}
.about__text .outer__txt{
	padding:70px 0px;
	text-align:center;
}
.outer__txt>h2{
    text-align: center;
    margin: 0px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}
.outer__txt>p{
    text-align: center;
    color: #000;
    font-size: 16px;
    line-height: 24px;
}
.drop__li{
	position: relative;
}
.drop__li .dropdown__block{
	position: absolute;
	top:55px;
	right:0px;
	margin-left:auto;
	margin-right:auto;
	min-width:160px;
	max-width:160px;
	background-color:#fff;
	border-radius:5px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	z-index: 10;
	left: 50%;
    transform: translate(-50%, 0);
}
.drop__li .dropdown__block ul:before{
	content:"";
    position: absolute;
    right: 0px;
    margin-left:auto;
    margin-right:auto;
    left:0px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    z-index:9999;
}
.drop__li .dropdown__block ul{
	display: flex;
	justify-content: flex-start;
	text-align:left;
	width:100%;
	flex-direction:column;
	position: relative;
	padding:10px 0px;
	max-height:none;
}
.drop__li .dropdown__block ul li{
	margin-right:0px;
	width:100%;
	padding:5px 15px;
}
.drop__li .dropdown__block ul li a{
	width:100%;
	display: flex;
}
.programme__header{
	background-color:rgba(214,46,48,.8);
}
.programme__header .programme__wrapper{
	min-height:540px;
	display: flex;
	align-items:center;
	justify-content: space-between;
}
.right__programme>img{
	max-width:400px;
}
.left__programme{
	margin-right:40px;
}
.left__programme>h2{
	margin:0px;
	margin-bottom:15px;
	font-size:36px;
	font-weight:400;
	line-height:44px;
	color:#fff;
}
.left__programme>p{
	font-size:18px;
	line-height:24px;
	color:#fff;
	margin:0px;
}
.programme__button{
	margin-top:40px;
}
.programme__button>a{
    min-width: 170px;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: .4s ease all;
    font-family: "AvenirR" , sans-serif;
}
.programme__button>a:hover{
	background-color:#fff;
	color:#D62E30;
}
.cover__block{
	padding:50px 0px;
}
.cover__block .top__cover>h2{
	margin:0px;
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    color: #000;
    text-align:center;
}
.cover__info{
	display: grid;
	grid-template-columns: repeat(3 , minmax(140px , 200px));
	align-items:center;
	justify-content: space-between;
	margin-top:30px;
}
.cover__info .elem__cover>span{
	display: flex;
	width:100%;
	justify-content: center;
	align-items:center;
	font-size:40px;
	font-family:"AvenirMedium" ,sans-serif;
	font-weight:bold;
	color:#D62E30;
}
.cover__info .elem__cover>p{
	margin:0px;
	margin-top:10px;
	text-align: center;
	color:#000;
	font-size:18px;
}
.get__block{
	padding:50px 0px;
	text-align: center;
}
.get__block h2{
	margin:0px;
	margin-bottom: 20px;
	font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    color: #000;
    text-align:center;
}
.outer__get>p{
	max-width:540px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.inner__certificate{
	display: flex;
	align-items:center;
	justify-content: space-between;
}
.inner__certificate .left__certificate{
	margin-right:50px;
}
.inner__certificate .left__certificate{
	min-width:440px;
}
.inner__certificate .left__certificate>img{
	max-width:440px;
}
.inner__certificate .right__certificate{
	width:100%;
	background-color:#F4F4F4;
}
.right__certificate{
	padding:30px 30px;
}
.right__certificate .head__certificate{
	display: flex;
	align-items:center;
	position: relative;
	width:100%;
	border-bottom:1px solid #000;
	cursor:pointer;
}
.outer__certificate>.head__certificate{
	margin-bottom:30px;
}
.head__certificate>h2{
	text-align:center;
	color:#000000;
	font-size:36px;
	font-weight:400;
	margin:0px;
}
.head__certificate div{
	position: absolute;
	right:0px;
	display: flex;
	align-items:center;
	justify-content: center;
}
.right__certificate .head__certificate h2{
	margin:0px;
	font-size: 21px;
    font-weight: 400;
    line-height: 31px;
    color: #000;
    text-align:center;
    padding-bottom: 7px;
}
.certificate__block>.container{
	max-width:1140px;
}
.elem__certificate{
	margin-bottom:20px;
}
.elem__certificate:last-child{
	margin-bottom:0px;
}
.head__certificate{
	width:100%;
}
.head__certificate .arrow__span {
	position: absolute;
	top: 50%;
    transform: translate(0%,-50%);
	right:0px;
}
.head__certificate .arrow__span i{
	color:#6C32EC;
	font-size:22px;
}
.text__certificate{
	display: none;
	margin-top:20px;
}
.text__certificate>p{
	font-size: 14px;
	line-height:19px;
	margin-top:0px;
}
.elem__certificate .head__certificate .arrow__span{
	transition:.4s ease all;
}
.certificate__block{
	background: #FAF9F9;
	padding:50px 0px;
}
.cover__overlay{
	min-height:320px;
	width:100%;
	max-width:480px;
	margin-left:auto;
	margin-right:auto;
	display: flex;
	align-items:center;
	justify-content: center;
	background:url("../img/medicineimage.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
}
.cover__overlay>a{
	transition:.4s ease all;
	display: flex;
	align-items:center;
	justify-content: center;
}
.cover__overlay>a:hover{
	opacity:.7;
}
.programme__name .outer__prog--name{
	min-height:440px;
	display: flex;
	align-items:center;
}
.left__prog--name{
	margin-right:40px;
}
.right__prog--name>img{
	max-width:400px;
}
.left__prog--name>h2{
	margin-top:0px;
	margin-bottom:20px;
	font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
}
.left__prog--name>p{
	text-align: left;
	color:#fff;
	font-size:18px;
	line-height:26px;
}
.purchase__prog{
	display: flex;
	align-items:center;
}
.purchase__prog p{
	margin:0px;
	font-size: 18px;
	line-height:24px;
	color:#fff;
}
.purchase__prog>span{
	display: inline-flex;
	margin-right:10px;
	color:#fff;
	font-size:36px;
	line-height:48px;
	font-family:"AvenirMedium" ,sans-serif;
}
.programme__name{
	padding:120px;
	padding-bottom:180px;
}
.group__programme{
	display: flex;
	align-items:center;
	justify-content: space-between;
}

.programme__name{
	margin-bottom:-115px;
}
.form__inner{
	max-width:440px;
	margin-left:auto;
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	padding:35px;
}
.form__inner>h2{
	margin-top:0px;
	color:#4D4D4D;
	font-family:"AvenirMedium" ,sans-serif;
	text-align:center;
	font-size:30px;
}
.payment__form{
	margin-top:30px;
	display: flex;
	justify-content: flex-start;
	align-items:flex-start;
	flex-direction:column;
}
.payment__form>p{
	margin-top:0px;
	color:#4D4D4D;
	font-family:"AvenirMedium" ,sans-serif;
	font-weight:bold;
	margin-bottom:5px;
	font-size:16px;
}
.payment__form>span{
	display: inline-flex;
	align-items:center;
	font-size:24px;
	color:#4D4D4D;
	font-family:"AvenirMedium" ,sans-serif;
	font-weight:bold;
}
.indicates__payment{
	margin-top:15px;
	display: flex;
	justify-content: flex-end;
	margin-bottom:15px;
}
.indicates__payment>p{
	margin:0px;
	color:#000;
}
.group__programme{
	display: flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items:flex-start;
	margin-bottom:15px;
	position: relative;
}
.group__programme:last-child{
	margin-bottom:0px;
}
.group__programme>input{
	width:100%;
	min-height:40px;
	padding:0px 10px;
	outline:none;
	font-size:16px;
}
.group__programme>p{
	margin-top:0px;
	margin-bottom:7px;
	color:#000;
	font-size:16px;
}
.pass__group>a{
	display: inline-flex;
	align-items:center;
	justify-content: center;
	position: absolute;
	right:0px;
	text-decoration:none;
	color:#999999;
	top:4px;
	transition:.4s ease all;
}
.pass__group>a:hover{
	opacity:.7;
}
.programme__voucher{
	width:100%;
	display: flex;
	align-items:center;
	justify-content: space-between;
}
.programme__voucher>input[type="text"]{
	width:100%;
	outline:none;
	margin-right:25px;
    min-height: 40px;
    font-size:16px;
    padding: 0px 10px;
}
.programme__voucher>input[type="submit"]{
	min-width:110px;
	min-height:40px;
	display: inline-flex;
	align-items:center;
	justify-content: center;
	background-color:#555555;
	outline:none;
	border:0px;
	color:#fff;
	font-size:15px;
	font-weight:bold;
	transition:.4s ease all;
}
.programme__voucher>input[type="submit"]:hover{
	opacity:.7;
}
.programme__voucher>input[type="submit"]{
	cursor:pointer;
}

.group__checkbox{
	margin-bottom:15px;
}
.group__checkbox:last-child{
	margin-bottom:0px;
}
.group__checkbox p{
	display: flex;
	align-items:flex-start;
	margin:0px;
}

.check__first{
	margin-top:50px;
}
.group__checkbox label a{
	text-decoration:none;
}
.submit__button>input:hover{
	background-color:#ea0023;
	color:#fff;
}
.submit__button>input{
    min-width: 240px;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ea0023;
    color: #ea0023;
    font-size: 20px;
    text-decoration: none;
    transition: .4s ease all;
    font-family: "AvenirR" , sans-serif;
    cursor:pointer;
    background-color:transparent;
}
.submit__button{
	display: flex;
	align-items:center;
	justify-content: center;
	margin-top:60px;
}
.programme__form{
	padding-bottom: 100px;
}
[type="checkbox"]:not(:checked) + label a{
	text-decoration:none;
	color:#387EF6;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  font-size:15px;
  line-height:21px;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 3px;
  width: 1.25em; height: 1.25em;
  border:1px solid #000;
  background: #fff;
  border-radius: 0px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: 7px; left: 3px;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
.outer__resource{
	min-height:290px;
	display: flex;
	align-items:center;
	justify-content: center;
}
.resource__head{
	background:url("../img/headback.png");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
}
.resource__head h2{
	font-size:36px;
	margin:0px;
	font-family:"AvenirMedium" ,sans-serif;
	color:#fff;
}
.programme__name{
	background-color:rgba(0,0,0,.5)
}
.resources__wrapper>.container{
	max-width:1040px;
}
.resources__wrapper--inner{
	padding:60px 0px;
	display: grid;
	grid-template-columns:repeat(4, 1fr);
	grid-column-gap:25px;
	grid-row-gap:30px;
}
.elem__resource{
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.contact__block{
	background:url('../img/aboutback.png');
	background-repeat: no-repeat;
	background-size:cover;
	background-position:top center;
}
.outer__contact{
	min-height:440px;
	display: flex;
	align-items:center;
	justify-content: center;
}
.outer__contact>h2{
	text-align:center;
	margin:0px;
	color:#fff;
	font-size:36px;
	font-weight:bold;
}
.contact__us--block{
	padding:70px 0px;
}
.contact__us--block .outer__contact--us>h2{
	margin-top:0px;
	margin-bottom:25px;
	text-align:center;
	color:#000000;
	font-size:36px;
	font-weight:400;
}
.outer__contact--us{
	max-width:440px;
	margin-left:auto;
	margin-right:auto;
}
.outer__contact--us>p{
	color:#000;
	font-size:24px;
	font-weight:400;
	line-height:32px;
	margin:0px;
}
#map{
	min-height:345px;
	width:100%;
}
.profile__head{
	background:url('../img/headback.png');
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	margin-bottom:-120px;
}
.outer__profile{
	min-height:350px;
}
.profile__settings{
	margin-right:auto;
	max-width: 440px;
    margin-left: auto;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    padding: 35px;
}
.prof__settings--wrap{
	padding-left:15px;
	padding-right:15px;
}
.inner__profile--settings{
	margin-bottom:30px;
}
.inner__profile--settings>h2{
	margin-top: 0px;
    color: #000;
    font-size:36px;
    font-family: "AvenirR" ,sans-serif;
    text-align: center;
    margin-bottom:0px;
}
.group__profile>p{
    margin-top: 0px;
    margin-bottom: 7px;
    color: #000;
    font-size: 16px;
}
.group__profile>input{
	width: 100%;
    min-height: 40px;
    padding: 0px 10px;
    outline: none;
    font-size: 16px;
}
.group__profile{
	margin-bottom:15px;
}
.pass__group{
	position: relative;
}
.group__profile>a{
	position: absolute;
	right:0px;
	top:0px;
	display: inline-flex;
	align-items:center;
	justify-content: center;
	transition:.4s ease all;
}
.prof__settings--wrap{
	padding-bottom:80px;
}
.prof__settings--wrap .group__submit{
	display: flex;
	justify-content: center;
	align-self:center;
	margin-top:30px;
}
.prof__settings--wrap .group__submit input{
    min-width: 240px;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ea0023;
    color: #ea0023;
    font-size: 20px;
    text-decoration: none;
    transition: .4s ease all;
    font-family: "AvenirR" , sans-serif;
    cursor: pointer;
    background-color: transparent;
}
.prof__settings--wrap .group__submit input:hover{
	background-color:#ea0023;
	color:#fff;
}
.additional__profile{
	margin-top:30px;
}
.additional__profile>h6{
	margin-top:0px;
	margin-bottom:7px;
    color: #4D4D4D;
    font-size: 20px;
    font-family: "AvenirR" ,sans-serif;
}
.additional__profile>p{
	margin:0px;
	font-size:15px;
}
.additional__profile+.group__checkbox.check__first{
	margin-top:10px;
}
.drop__zone>input{
	position: absolute;
	left:-10000px;
	opacity:0;
}
.drop__zone>h6{
	margin:0px;
	font-size:20px;
}
.drop__zone{
	position: relative;
	border-radius:3px;
	cursor:pointer;
	min-height:120px;
	display: flex;
	align-items:center;
	flex-direction:column;
	border:3px solid #D62E30;
	justify-content: center;
}
.drop__zone>img{
	max-width:80px;
}
.welcome__block{
	background:url("../img/headback.png");
	background-repeat: no-repeat;
	background-size:cover;
}
.outer__welcome>h2{
	margin:0px;
	font-size:36px;
	color:#fff;
	font-weight:400;
}
.outer__welcome{
	min-height:440px;
	display: flex;
	align-items:center;
}
.course__block{
	padding:50px 0px;
}
.course__text{
	min-height:200px;
}
.head__course>h2{
	text-align:center;
	color:#000000;
	font-size:36px;
	line-height:44px;
	font-weight:400;
	margin:0px;
	margin-bottom:25px;
}
.elem__course>.course__image{
	min-height:160px;
	background-repeat: no-repeat!important;
	background-size:cover!important;
	background-position:center!important;
}
.course__text{
	padding:20px;
}
.course__text>p{
	margin:0px;
	margin-bottom:10px;
	font-size:16px;
	color:#000;
	line-height:22px;
}
.course__text>p:last-child{
	margin-bottom:0px;
}
.inner__course .slick-slide , .outer__awards .slick-slide {
    margin: 0 15px;
}
/* the parent */
.inner__course .slick-list , .outer__awards .slick-slit {
    margin: 0 -15px;
}
.inner__course .slick-dots li button:before , .outer__awards .slick-dots li button:before{
	content:none;
}
.inner__course .slick-dots li.slick-active button , .outer__awards .slick-dots li.slick-active button{
	background: #D62E30;
}
.awards__block{
	padding:35px 0px;
}
.inner__course .slick-dots li button , .outer__awards .slick-dots li button{
	width:14px;
	height:14px;
	background: #C4C4C4;
	border-radius:250px;
	transition:.4s ease all;
}
.inner__course .slick-dots li , .outer__awards .slick-dots li{
	padding:0px;
	width:auto;
	height:auto;
}
.inner__course .slick-dots , .outer__awards .slick-dots{
	bottom:-40px;
}
.elem__course{
	border:1px solid #cecece;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.inner__course *{
	outline:none;
}
.course__button>a:hover{
	opacity:.7;
}
.course__button>a{
	width:100%;
	min-height:50px;
	display: inline-flex;
	align-items:center;
	justify-content: center;
    color: #fff;
    background-color:#ea0023;
    font-size: 18px;
    text-decoration: none;
    transition: .4s ease all;
    font-family: "AvenirR" , sans-serif;
}
.course__text>h6{
	margin:0px;
	margin-bottom:10px;
	text-align:center;
	color:#000000;
	font-size:20px;
}
.award__buttons>.facebook__button i , .award__buttons>.linkedin__button i{
	display: inline-flex;
	margin-right:12px;
}
.award__buttons>.facebook__button:hover  , .award__buttons>.linkedin__button:hover{
	opacity:.7;
}
.head__awards h2{
	text-align:center;
	margin:0px;
    color: #000000;
    font-weight:400;
    font-size: 36px;
    line-height: 44px;
}
.award__logo{
	display: flex;
	justify-content: center;
	align-items:center;
}
.award__buttons{
	display: flex;
	justify-content: center;
	align-self:center;
	margin-top:15px;
}
.inner__awards>p{
	margin-top:7px;
	text-align:center;
	font-size:18px;
	font-weight:400;
	margin:0px;
	color:#000;
}
.award__logo>img{
	max-width:90px;
}
.head__awards{
	margin-bottom:30px;
}
.award__buttons>.linkedin__button{
	text-decoration:none;
	transition:.4s ease all;
	min-width:130px;
	min-height:45px;
	display: inline-flex;
	font-size:17px;
	align-items:center;
	color:#fff;
	justify-content: center;
	background-color:#3781C4;
}
.award__buttons>.facebook__button{
	text-decoration:none;
	transition:.4s ease all;
	min-width:130px;
	min-height:45px;
	display: inline-flex;
	font-size:17px;
	align-items:center;
	color:#fff;
	justify-content: center;
	background-color:#425993;
	margin-right:8px;
}
@media (max-width:1200px){
	.play__video{
		display: flex;
		justify-content: center;
		align-items:center;
	}
	.right__prog--name>img{
		max-width:360px;
	}
	.right__programme>img{
		max-width:360px;
	}
	.programme__name{
		padding-top:70px;
		padding-bottom:140px;
	}
}
	.menu__button {
		display: none;
		align-items:center;
		justify-content: center;
		flex-direction:column;
		position: relative;
		z-index:10;
	}
	.right__info{
		margin-left:auto;
		margin-right:20px;
	}
	.menu__button>span:last-child{
		margin-bottom: 0px;
	}
	.menu__button.active__button>span:nth-child(1){
		transform:rotate(45deg);
		top:10px;
	}
	.menu__button.active__button>span:nth-child(2){
		opacity:0;
	}
	.menu__button.active__button>span:nth-child(3){
		transform:rotate(-45deg);
		bottom:7px;
	}
	.menu__button{
		position: relative;
		z-index: 101;
	}
	.menu__button.active__button>span{
		background-color: #fff;
	}
	.menu__button>span{
		display: inline-flex;
		justify-content: center;
		align-items:center;
		position: relative;
		width:36px;
		height: 4px;
		border-radius:5px;
		margin-bottom:5px;
		background-color: #ea0023;
		top:0px;
		transition:.4s ease all;
	}
	.menu__button>span:nth-child(3){
		top:auto;	
	}
	.center__list{
		margin-left:auto;
	}
@media (max-width:991px){
	.menu__button{
		display: flex;
	}
	.center__list .dropdown__block ul li:last-child{
		margin-bottom:0px;
	}
	.center__list{
		position: fixed;
		top:-100vh;
		left:0px;
		width:100%;
		height:100vh;
		background-color:#ea0023;
		z-index:5;
		transition:.8s ease all;
	}
	.drop__li .dropdown__block{
		position: static;
		display: flex;
		min-width:0px;
		max-width:100%;
		width:100%;
		transform: none;
		left:0px;
	}
	.center__list{
		overflow-y: auto;
		display: flex;
		justify-content: center;
		align-items:center;
	}
	.center__list ul{
		display: flex;
		flex-direction:column;
		justify-content: flex-start;
		align-items: center;
		height:auto;
		width:100%;
		max-height:calc(100vh - 70px);
		padding-top:0px;
	}
	.center__list ul li a:before{
		background-color:#fff;
	}
	.center__list ul li.active__list>a:before{
		background-color:#fff;
	}
	.center__list ul li{
		margin-right:0px;
	}
	.center__list ul li{
		padding:10px 0px;
		width:100%;
		text-align:center;
	}
	.drop__li .dropdown__block ul li a{
		color:#000;
	}
	.drop__li .dropdown__block ul{
		height: auto;
	}
	.drop__li .dropdown__block{
		width:90%;
		margin-top:15px;
	}
	.center__list ul li a{
		color:#fff;
		font-size:25px;
	}
	
	.inner__course .slick-slide , .outer__awards .slick-slide {
	    margin: 0 5px;
	}
	/* the parent */
	.inner__course .slick-list , .outer__awards .slick-slit {
	    margin: 0 -5px;
	}
	.head__awards h2 , .head__course>h2{
		font-size:30px;
		line-height:38px;
	}
	.outer__welcome{
		min-height:320px;
	}
	.outer__welcome>h2{
		font-size:30px;
		line-height:38px;
	}
	.head__resources>h2{
		font-size:26px;
	}
	.inner__resources{
		grid-template-columns:minmax(140px , 320px);
		justify-content: center;
		align-items:center;
		grid-row-gap:40px;
	}
	.head__advantage{
		margin-bottom:20px;
	}
	.overlay__video{
		height:260px;
	}
	.play__video>img{
		max-width:80px;
	}
	.outer__video{
		max-width:440px;
		min-height:0px;
	}
	.head__certificate>h2{
		font-size:30px;
	}
	.get__block{
		padding:40px 0px;
	}
	.programme__header .programme__wrapper{
		min-height:0px;
	}
	.cover__block .top__cover>h2 , .get__block h2{
		font-size:30px;
	}
	.right__programme>img{
		max-width:440px;
		width:100%;
	}
	.left__programme{
		margin-right:0px;
		max-width:440px;
		margin-left:auto;
		margin-right:auto;
		margin-top:20px;
	}
	.programme__header{
		padding:40px 0px;
	}
	.programme__header .programme__wrapper{
		flex-direction:column-reverse;
	}
	.resources__wrapper--inner{
		padding:35px 0px;
		grid-template-columns:repeat(3 , 1fr);
	}
	.head__advantage>h2{
		font-size:26px;
	}
	.learner__advantage{
		padding:45px 0px;
	}
	.outer__advantage{
		flex-direction:column-reverse;
		justify-content: center;
		align-items:center;
	}
	.right__advantage{
		margin-left:0px;
		margin-bottom:20px;
	}
	.outer__advantage>.left__advantage{
		max-width:420px;
		margin-left:auto;
		margin-right:auto;
	}
	.form__inner>h2{
		font-size:26px;
	}
	.programme__name{
		padding-left:0px;
		padding-right:0px;
	}
	.programme__form{
		padding-bottom: 70px;
	}
	.programme__name{
		padding-top:40px;
	}
	.right__prog--name>img{
		max-width:440px;
		width:100%;
	}
	.left__prog--name{
		max-width:440px;
		margin-right:0px;
		margin-top:20px;
	}
	.left__programme>h2{
		font-size:30px;
	}
	.programme__button{
		margin-top:25px;
	}
	.left__prog--name>h2{
		font-size:30px;
	}
	.programme__name .outer__prog--name{
		flex-direction:column-reverse;
		justify-content: center;
		align-items:center;
	}
	.form__inner{
		margin-right:auto;
	}
	.outer__contact>h2{
		font-size:30px;
	}
	.outer__profile{
		min-height:250px;
	}
	.outer__resource{
		min-height:250px;
	}
	.resource__head h2{
		font-size:30px;
	}
	.inner__profile--settings>h2{
		font-size:30px;
	}
	.outer__foot{
		flex-direction:column;
		justify-content: center;
		align-items:center;
	}
	.footer__info{
		margin-left:0px;
		margin-top:40px;
	}
	.outer__about{
		min-height:320px;
	}
	.outer__about>h2{
		font-size:30px;
	}
	.head__partners h2{
		font-size:26px;
	}
	.partners__block{
		padding:45px 0px;
	}
	.inner__partners{
		grid-template-columns:repeat(2 , 1fr);
		max-width:540px;
		margin-left:auto;
		margin-right:auto;
	}
	.outer__txt>h2{
		font-size:26px;
		margin-bottom:20px;
	}
	.outer__programme>h2{
		font-size:26px;
	}
	.about__text .outer__txt{
		padding:45px 0px;
		max-width:550px;
		margin-left:auto;
		margin-right:auto;
	}
	#map{
		min-height:250px;
	}
	.contact__us--block .outer__contact--us>h2{
		font-size:30px;
	}
	.outer__contact--us>p{
		font-size:21px;
		line-height:28px;
	}
	.contact__us--block{
		padding:45px 0px;
	}
	.outer__contact{
		min-height:320px;
	}
	.purchase__prog>span{
		font-size:30px;
	}
	.submit__button{
		margin-top:30px;
	}
	.cover__block{
		padding:45px 0px;
	}
	.right__certificate .head__certificate h2{
		font-size:19px;
		line-height:25px;
	}
	.inner__certificate{
		flex-direction:column;
		justify-content: center;
		align-items:center;
	}
	.inner__certificate .left__certificate{
		margin-right:0px;
		margin-bottom:40px;
	}
	.right__certificate{
		max-width:540px;
		padding:20px 15px;
	}
	.inner__certificate .left__certificate>img{
		width:100%;
		max-width:540px;
	}
	.inner__certificate .left__certificate{
		margin-bottom:20px;
	}
	.inner__certificate .left__certificate{
		min-width:0px;
	}
	.center__list ul li:last-child{
		margin-bottom:25px;
	}
}
@media (max-width: 767px){
	.course__text{
		padding:15px 10px;
	}
	.head__awards h2 , .head__course>h2{
		font-size:26px;
		line-height:32px;
	}
	.course__block{
		padding:35px 0px;
	}
	.awards__block{
		padding:15px 0px;
	}
	.outer__welcome{
		min-height:240px;
		text-align:center;
	}
	.outer__welcome>h2{
		margin-left:auto;
		font-size:26px;
		margin-right:auto;
	}
	.right__advantage>img{
		width:100%;
	}
	.learner__advantage{
		padding:30px 0px;
	}
	.video__main{
		padding-top:25px;
	}
	.outer__certificate>.head__certificate{
		margin-bottom:20px;
	}
	.head__certificate>h2{
		font-size:26px;
	}
	.certificate__block{
		padding:35px 0px;
	}
	.get__block{
		padding-top:25px;
		padding-bottom:30px;
	}
	.get__block h2{
		font-size:26px;
		line-height:32px;
	}
	.cover__info{
		grid-template-columns:1fr;
		grid-row-gap:25px;
	}
	.cover__block .top__cover>h2{
		font-size:26px;
	}
	.left__programme>h2{
		font-size:26px;
	}
	.resources__wrapper--inner{
		grid-template-columns:repeat(2 , 1fr);
	}
	.left__prog--name>h2{
		font-size:26px;
	}
	.contact__us--block .outer__contact--us>h2{
		font-size:26px;
	}
	.outer__contact--us>p{
		font-size:19px;
		line-height:26px;
	}
	.outer__contact--us{
		max-width:240px;
	}
	.outer__contact>h2{
		font-size:26px;
	}
	.outer__contact{
		min-height:240px;
	}
	.outer__programme{
		flex-direction:column;
		justify-content: center;
		align-items:center;
	}
	.outer__programme>h2{
		max-width:100%;
		margin-bottom:25px;
		font-size:24px;
		line-height:30px;
		text-align:center;
	}
	.form__inner>h2{
		font-size:24px;
		line-height:30px;
	}
	.programme__block{
		padding:45px 0px;
	}
	.about__text .outer__txt{
		padding:30px 0px;
	}
	.outer__txt>h2{
		font-size:24px;
		margin-bottom:12px;
	}
	.head__partners h2{
		font-size:24px;
	}
	.outer__about{
		min-height:240px;
	}
	.outer__resource{
		min-height:240px;
	}
	.resource__head h2{
		font-size:26px;
	}
	.outer__about>h2{
		font-size:26px;
	}
	.inner__profile--settings>h2{
		font-size:26px;
	}
	.drop__zone>h6{
		text-align:center;
		padding-left:15px;
		padding-right:15px;
	}
}
@media (max-width:480px){
	.outer__welcome{
		min-height:170px;
	}
	.overlay__video{
		height: 220px;
	}
	.outer__video{
		max-width:360px;
	}
	.certificate__block{
		padding:25px 0px;
	}
	.right__certificate .head__certificate h2{
		font-size:17px;
		line-height:23px;
	}
	.cover__overlay{
		min-height:260px;
	}
	.resources__wrapper--inner{
		grid-template-columns:minmax(140px , 420px);
		justify-content: center;
		align-items:center;
	}
	.programme__voucher{
		flex-direction:column;
		justify-content: center;
		align-items:center;
	}
	.programme__voucher>input[type="text"]{
		margin-right:0px;
		margin-bottom:15px;
	}
	.check__first{
		margin-top:25px;
	}
	.cover__block{
		padding:25px 0px;
	}
	.form__inner{
		padding:25px 15px;
	}
	.programme__form{
		padding-bottom:35px;
	}
	.outer__resource{
		min-height:170px;
	}
	.outer__contact{
		min-height:170px;
	}
	.inner__partners{
		grid-template-columns:minmax(140px , 280px);
		justify-content: center;
		align-items:center;
	}
	.outer__about{
		min-height:170px;
	}
	.outer__profile{
		min-height:180px;
	}
	.prof__settings--wrap{
		padding-bottom:45px;
	}
	.profile__settings{
		padding:25px 15px;
	}
}
@media (max-width:400px){
	.right__info{
		margin-right:12px;
	}
	.right__info>a{
		min-width: 80px;
	}
}